@charset "UTF-8";
@media screen and (max-width: 600px) {
  section.loginregistro{
    height: 100dvh;
    width: 100dvw;
    backdrop-filter: blur(3px);
    border: none;
    border-radius: 0px;
  }

  .trocaregistrologin{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 0px 20px 0px 20px;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.438);
  }

}
*{
  margin: 0px;
  padding: 0px;
}


body{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100dvh;

  background: white url(../img/gifs/5927911.gif) no-repeat center center fixed;
  background-size: cover;
}
/* LOGIN */

.loginregistro{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 400px;
  height: 500px;

  backdrop-filter: blur(3px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.767);
  box-shadow: 0px 0px 5px black;
}
.cabeca{
  display: flex;
  height: 10%;
  width: 100%;

  align-items: center;
  justify-content: center;
}
.cabeca h1{
  text-shadow: 0px 0px 3px black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
}
/* nome e senha */
.checkbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap: 30px;

  width: 100%;
  height: 215px;
}
.inf{
  padding: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.61);

  width: 60%;
  color: white;
}
.inf::placeholder{
  padding: 5px;
  color: rgba(255, 255, 255, 0.753);
}
#checkbox_lembrar{
  color: white;
}
#confirmar{
  width: 25%;
  font-size: 14px;
  padding: 8px;
  border-radius: 20px;
  color: white;

  background: transparent;
  
  transition-duration: 0.2s;
}
#confirmar:hover{
  cursor: pointer;
  height: 40px;
  border-color: rgba(221, 194, 247, 0.767);
  border-radius: 25px;
  text-decoration: underline;
}
.trocaregistrologin{
  font-size: 12px;
  color: white;
}
.trocaregistrologin a{
  text-decoration: none;
  color:aqua;
}
.trocaregistrologin a:hover{
  text-decoration: underline;
}
/*-------*/ 
#registro{
  display: none;
} 
#trocaregistro{
  font-size: 16px;
}