@charset "UTF-8";
*{
  margin: 0px;
  padding: 0px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100dvh;

  background: white url(../img/gifs/5927911.gif) no-repeat center center fixed;
  background-size: cover;
}
/* LOGIN */

#login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 400px;
  height: 500px;

  backdrop-filter: blur(2px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.767);
  box-shadow: 0px 0px 5px black;
}
.cabeca{
  display: flex;
  height: 10%;
  width: 100%;

  align-items: center;
  justify-content: center;
}
.cabeca h1{
  text-shadow: 0px 0px 3px black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
}
/* nome e senha */
.checkbox{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;

  width: 100%;
  height: 150px;
}
.inf{
  padding: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.61);

  width: 60%;
  color: white;
}
.inf::placeholder{
  padding: 5px;
  color: rgba(255, 255, 255, 0.753);
}
#checkbox_lembrar{
  color: white;
}
#confirmar{
  width: 50%;
  font-size: 14px;
  padding: 6px;
  border-radius: 20px;
  color: white;

  background: transparent;
  backdrop-filter: blur(20px);
  
  transition-duration: 0.3s;
}
#confirmar:hover{
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.562);
  border-radius: 25px;
  padding: 7px;
}
#cadastre_se{
  font-size: 12px;
  color: white;
}
#cadastre_se a{
  text-decoration: none;
  color:aqua;
}
#cadastre_se a:hover{
  text-decoration: underline;
}